{% extends 'layout.html' %}

{% block content %}

  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'projects:applications-list' %}">Applications</a></li>
        <li><a class="selected" href="{% url 'accounts:profile-detail' slug=profile.slug %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
      {% if user == profile.user %}
        <a class="button icon-on-left" href="{% url 'accounts:profile-update' slug=profile.slug %}">Edit</a>
      {% endif %}
      </div>
    </div>

    <div class="grid-70">
      <h1>{{ profile.name }}</h1>
      <div class="circle--article--body">
        <p>{{ profile.description|linebreaks }}</p>

        
      </div>

      <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          {% if user.project %}
            {% for project in user.project.all %}
              <tr class="clickable-row" data-href="{% url 'projects:project-detail' slug=project.slug %}">
                <td>
                  <h3>{{ project.title }}</h3>
                </td>
                <td class="circle--cell--right">
                  {% for needs in project.position.all %}
                    <span class="secondary-label">{{ needs }}</span>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
          <img class="circle--primary--avatar" src="{{ profile.profile_picture.url }}">
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        <ul class="unloaded">
        {% for skill in profile.skill.all %}
          <li>{{ skill }}</li>
        {% endfor %}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--link--list">
        {% for my_project in profile.myproject.all %}
          <li><a href={{my_project.url}} target="_blank">{{ my_project.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>
{% endblock %}