{% extends 'layout.html' %}

{% block content %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="{% url 'projects:applications-list' %}">Applications</a></li>
        <li><a href="{% url 'accounts:profile-detail' slug=user.profile.slug %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <form method="GET">
          <select name="filter">
            <option>All Applications</option>
            <option>New Applications</option>
            <option>Accepted</option>
            <option>Rejected</option>
          </select>
          <p><input type="submit" name="submit" value="submit"/></p>
        </form>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--filter--list">
          {% for project in user.project.all %}
            <li><a href="{% url 'projects:project-detail' slug=project.slug %}" target="_blank">{{ project }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Applicant</th>
            <th>Applicant Position</th>
            <th>Applicant Status</th>
          </tr>
        </thead>
        <tbody>
        {% for applicant in object_list %}
          {% if applicant.project.project_owner == user %}
            <tr>
              <td>
                <h3><a href="{% url 'accounts:profile-detail' slug=applicant.user.profile.slug %}" target="_blank">{{ applicant.user.profile.name }}</a></h3>
                <p>{{ applicant.project }}</p>
              </td>
              <td>
                <span class="secondary-label">{{ applicant.position }}</span>
              </td>
              <td>
                <span class="secondary-label">{{ applicant.get_status_display }}</span><br><br>
                <a href="{% url 'projects:applicant-update' pk=applicant.pk %}">Edit</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
{% endblock %}