{% extends 'layout.html' %}

{% block content %}
<div class="bounds circle--page circle--article">
  <h1>Project: {{ project.title }}</h1>
  <h2>Position: {{ position }}</h2>
  <p>Are you sure you would like to apply for the position of {{ position }} from project {{ project.title }}?</p>
  <div class="grid-20">
    <form action="" method="POST">
    {% csrf_token %}
      {{ form.status.as_hidden }}
      <input class="button-primary" type="submit" value="Apply">
    </form>
  </div>
  <div class="grid-50">
    <a class="button" href="{% url 'projects:project-detail' slug=project.slug %}">Return</a>
  </div>
</div>
{% endblock %}