{% extends 'layout.html' %}

{% block content %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <a class="button button-primary" href="">Save Project</a>
        <a class="button button-text" href="{% url 'home' %}">Discard</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <form method="POST">
    {% csrf_token %}
      <div class="grid-70">
        <div class="circle--article--body">
          <input type="text" name="title" class="circle--input--h1" placeholder="Project Title" />
          <textarea name="description" placeholder="Project description..."></textarea>
        </div>

        <div class="circle--project--positions">
          <h2>Positions</h2>
          {{ positions_formset.management_form }}
          
            <ul class="circle--group--list circle--clone--list">
              {% for position in positions_formset %}
                {{ position.id }}
                <li>
                {{ position.title }}
                {{ position.description }}
                </li>
              {% endfor %}
            </ul>
          
          <input type="submit" class="button button-primary" value="Save Project">
        </div>

      </div>
    
      <div class="grid-25 grid-push-5">

        <div class="circle--secondary--module">
          <h3>Project Timeline</h3>
          <textarea name="timeline" placeholder="Time estimate" class="circle--textarea--input"></textarea>
        </div>

        <div class="circle--secondary--module">
          <h3>Applicant Requirements</h3>
          <textarea name="applicant_requirements"></textarea>
        </div>

      </div>
    </form>
  </div>
{% endblock %}